@import 'tailwindcss';

body {
  background-color: #18181b;
  font-family: 'Montserrat';
  font-weight: 400;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
