@import 'tailwindcss';

@theme {
  --color-Bg-gray: #e4e4e7;
  --color-Bg-white: #f9f9f9;
}

body {
  background-color: #e4e4e7;
  font-family: 'Montserrat';
  font-weight: 400;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
